.hero {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
  


.hero-container {
  background-image: url(../assets/HeroShark.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.content-container {
  background-color: #dbd56e;
  height: 600px;
}

.accordion-container {
  background-color: #fc7753;
  color: #fff;
  height: 600px;
}

.footer-container {
  background-color: #f2efea;
  width: 100%;
  height: 300px;
  position: relative;
}
